accelerate==1.6.0
diffusers==0.33.1
einops==0.8.1
fsspec==2025.3.2
huggingface-hub==0.30.2
importlib_metadata==8.6.1
mkl-service==2.4.0
nump==2.0.1
psutil==7.0.0
PyWavelets==1.8.0
regex==2024.11.6
safetensors==0.5.3
setuptools==75.8.0
sympy==1.13.1
timm==1.0.15
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tqdm==4.67.1
triton==3.1.0
wheel==0.45.1
zipp==3.21.0
